language: python
python:
    - 3.4
    - 3.5
    - 3.6
install:
    - pip install -r requirements.txt
    - pip install -r requirements-dev.txt
script:
    - flake8 --ignore=E501 fierce/ tests/
    - nose2 --with-coverage
after_success:
    - coveralls
